/* stil podnaslova stranice i njegove pozadine */
.stil_teksta_brands{
	background-color: black;
	font-family: 'Times New Roman', serif;
	color: white;
}
/* stil podnaslova stranice i njegove pozadine */

/* uredjenje dijela naslova */
.stil_teksta_podnaslov_brands {
	background-color: pink; 
	font-family: 'Times New Roman', serif;
}
/* uredjenje dijela naslova */

/* VRTESKA */
.c-item { 
	height: 500px;
}

.c-img {  
	height: 100%;
	object-fit: cover; 
	filter: brightness(0.7);
}
/* VRTESKA */

/* JavaScript */
span {
	transition: all 1s ease;
}

span.fade {
	color: palevioletred;
}
/* JavaScript */