/* FAQ sekcija */
.card,.card-header{
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
	margin-bottom: 20px;
}

.card{
	box-shadow: 0 2px 25px 0 rgba(110, 130, 208, 0.18);
}

.btn-link{
	width: 100%;
	height: 60px;
	color: black !important;
	font-weight: bold !important;
	text-align: left !important;
	text-decoration: none !important;
	font-family: 'Georgia', serif;
}

.card-body{
	background-color: #e8eeff;
}

.btn-link:after{
	content: '\2212';
	width: 34px;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	right: 15px;
	top: 11px;
	position: absolute;
	background-color: pink;
}

.btn-link.collapsed:after{
	content: '\002B';
}

.btn-link:before{
	content: '';
	height: 25px;
	width: 25px;
	position: absolute;
	background-color: white;
	z-index: 1;
	transform: rotate(45deg);
	left: 30px;
	top: 46px;
}
/* FAQ */

/* stil naslova stranice i njegove pozadine */
.stil_teksta{
	background-color: pink; 
	font-family: 'Times New Roman', serif;
}
/* stil naslova stranice i njegove pozadine */

/* uredjenje teksta card-body klase */
.card-body {
	font-family: 'Fira Sans', sans-serif;
}
/* uredjenje teksta card-body klase */