/* pozadina body elementa */
.slika{ 
	background-image: url(../PROJEKAT/slike/pattern.jpg);
	background-size: auto;
}
/* pozadina body elementa */

/* tekst naslova */
.stil_teksta_1{
	margin-bottom: 0px;
	margin-top: 80px;
	background-color: pink;
	font-family: 'Times New Roman', serif;
}
/* tekst naslova */

/* SIGN UP SEKCIJA */
.left-box{
	background: pink;
}

.img-fluid{
	width: 700px;
}

.membership-text{
	font-size: 25px;
	font-family: Times New Roman,  serif;
	font-weight: 700;
}

.stil_forme{
	margin-top: 30px;
}

.dugme_sign_up{
	background-color: slateblue;
	color: whitesmoke;
	font-weight: 700;
	font-family: Times New Roman, serif;
	margin-top: 10px
}

.dugme_sign_up_google{
	color: black;
	font-weight: 700;
	font-family: Times New Roman, serif;
	margin-top: 10px
}

.mr-2{
	width: 20px;
}

.stil_teksta_2{
	font-size: 25px;
	font-family: Times New Roman,  serif;
	font-weight: 700;
}
/* SIGN UP SEKCIJA */